body {
  background-color: #fff;
}

.header-container {
  padding-left: 8%;
  padding-right: 8%;
}

header {
  background-color: green;
}

.circle-card {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px; /* Adjust spacing between circles */
}

.circle-card .card {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f8f9fa; /* Background color for the circle */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.circle-card .card-body {
  padding: 20px; /* Adjust padding within the circle */
}

.circle-card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.circle-card .card-text {
  font-size: 16px;
}

.why-us {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.why-us h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.why-us .card {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.why-us .card:hover {
  transform: translateY(-10px);
}

.why-us .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.why-us .card-text {
  font-size: 1rem;
  color: #6c757d;
}

.footer {
  padding-left: 8%;
  padding-right: 8%;
}
